@{
    ViewBag.Title = "Forgot Password";
}
<div style="margin: 40px;">
    <h4>Forgot Password</h4>
    <div style="margin: 20px; min-height: 500px;">
        Thank you. You will receive an email with instructions on how to reset your password.
    </div>
</div>
