@{
    ViewBag.Title = "Password Reset Request";
}

<h4>Password Reset Request</h4>

<div style="margin: 20px;">
    There was an error trying to reset the password. Please @Html.ActionLink("try again", "ForgotPassword").<br />
    <br />
    The link you are using may have expired.
</div>
